<th scope="col">#</th>
<th class="text-center col-xl-1" scope="col">CEP</th>
<th class="text-center col-xl-1" scope="col">Tipo de Logradouro</th>
<th class="text-center col-xl-1" scope="col">Logradouro</th>
<th class="text-center col-xl-1" scope="col">Numero</th>
<th class="text-center col-xl-1" scope="col">Complemento</th>
<th class="text-center col-xl-1" scope="col">Bairro</th>
<th class="text-center col-xl-1" scope="col">Especie</th>
<th class="text-center col-xl-1" scope="col">Porte</th>
<th class="text-center col-xl-1" scope="col">Quantidade</th>
<th class="text-center col-xl-1" scope="col">Ultima Poda</th>
<th class="text-center col-xl-1" scope="col">Proxima Poda</th>
<th class="text-center col-xl-1 hidden-print" scope="col">Foto</th>